.list-activity {
  .item.fav {
    background: #FFF59D;
  }
}

.event-activity {
  padding: 10px;
  .fav {
    font-size: 40px;
    margin-right: 15px;
    .starred    { display: none;      }
    .starred    { color: $energized;  }
    .unstarred  { color: #aaa;        }
    &.active {
      .starred    { display: block; }
      .unstarred  { display: none;  }
    }
  }
  h1 {
    font-size: 20px;
    margin-top: 0px;
  }
  h3 {
    font-size: 16px;
    text-align: right;
  }
}
