.comment-card {
  .item-mood {
    font-size: 30px;
    padding: 0px;
    .col {
      text-align: center;
      &.bad { color: $assertive; }
      &.bad.active { color: $light; background-color: $assertive; }
      &.middle { color: $energized; }
      &.middle.active { color: $light; background-color: $energized; }
      &.good { color: $balanced; }
      &.good.active { color: $light; background-color: $balanced; }
    }
  }
  .item-writing {
    position: relative;
    padding-bottom: 0;
    textarea { padding-right: 50px; }
    .button, .spinner {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: #bbb;
    }
    .spinner {
      display: none;
      bottom: 10px;
      right: 10px;
    }
    &.disabled {
      .button   { display: none;  }
      .spinner  { display: block; }
    }
  }
  .item-comment {
    position: relative;
    .edit-btn {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 15px;
    }
    .edit-form label {
      position: relative;
      display: block;
      textarea {
        width: 100%;
        padding-right: 50px;
        padding-left: 5px;
        margin-bottom: 10px;
        background: #eee;
      }
    }
  }
}
