.spinner.hcenter {
  display: table;
  margin: auto;
}
.spinner.voffset {
  display: table;
  margin-top: 100px;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-light      { background-color: $light;     }
.label-stable     { background-color: $stable;    }
.label-positive   { background-color: $positive;  }
.label-calm       { background-color: $calm;      }
.label-balanced   { background-color: $balanced;  }
.label-energized  { background-color: $energized; }
.label-assertive  { background-color: $assertive; }
.label-royal      { background-color: $royal;     }
.label-dark       { background-color: $dark;      }

.card-grid {
  .list.card {
    margin: 0px;
  }
}

div[btf-markdown] {
  h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-bottom: 10px;
    text-align: left;
  }
  h1 { font-size: 36px; }
  h3 { font-size: 24px; }
  ul, ol {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  ul { list-style: disc; }
  ol { list-style: decimal; }
  em {
    font-style: italic;
  }
}
