.list-event-item {
  .item.fav {
    background: #fff9c2;
  }
  .fav-counter {
    padding-right: 5px;
    .icon {
      position: static;
      display: inline;
      font-size: 14px;
      color: $energized;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      &:before {
        display: inline;
      }
}
  }
}

.event-item-details {
  padding: 10px;
  .fav {
    width: 30px;
    font-size: 40px;
    margin-right: 15px;
    .starred    { display: none; color: $energized; }
    .unstarred  { color: #aaa; }
    .spinner    { display: none; margin-top: 7px; }
    &.active {
      .starred    { display: block; }
      .unstarred  { display: none;  }
    }
    &.loading {
      .starred, .unstarred  { display: none;  }
      .spinner              { display: block; }
    }
  }
  h1 {
    font-size: 20px;
    margin-top: 0px;
  }
  h3 {
    font-size: 16px;
    text-align: right;
  }
}
