.list-event-item {
  .item.fav {
    background: #fff9c2;
  }
  .fav-counter {
    padding-right: 5px;
    .icon {
      position: static;
      display: inline;
      font-size: 14px;
      color: $energized;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      &:before {
        display: inline;
      }
}
  }
}

.event-item-details {
  padding: 10px;
  h1 {
    font-size: 20px;
    margin-top: 0px;
  }
  h3 {
    font-size: 16px;
    text-align: right;
  }
}
