.item-favorite, .item-done {
  background: $dark-white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  h2 {
    color: $grey;
    font-weight: 500;
  }
  p {
    font-style: italic;
  }
}

.item-favorite {
  padding-left: 50px;
  .favorite {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    .button, .spinner {
      padding: 10px 10px 30px 10px;
    }
  }
}

.item-done {
  .done {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: auto;
    .button, .spinner {
      padding: 15px;
    }
  }
  .mood-bar {
    position: absolute;
    bottom: 0;
    right: 50px;
    left: 0px;
    width: auto;
    background: $dark-white;
    height: 0px;
    transition-property: height;
    transition-duration: .5s;
    transition-timing-function: ease-out;
  }
  .shown .mood-bar {
    height: 40px;
  }
}

.event-item-details {
  .img-container {
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    padding: 0px 10px;
    img {
      max-width: 100%;
      margin: auto;
      max-height: 150px;
      vertical-align: middle;
    }
  }
  h1 {
    color: $grey;
    font-size: 20px;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 16px;
    text-align: right;
  }
}
