
.event-info {
  .event-image {
    position : relative; 
    img.landing {
      width: 100%;
      box-shadow: -1px -1px 10px 1px rgba(0,0,0,0.20);
    } 
    .hashtag {
      position : absolute; 
      right : 0;
      bottom : 0;
      background: $positive;
      color : $light;
      text-decoration: none;
      padding: 5px 10px;
      margin-bottom: 5px;
    } 
    
  }
  
  .infos {
    background: $dark-white;
    color: $grey;
    box-shadow: -1px -1px 10px 1px rgba(0,0,0,0.20);
    margin-top: -5px;
    a {
      color: $grey;
    }
    .section {
      border-bottom: 1px solid rgba(0,0,0,0.15);      
      padding: 5px;
      margin: 0px;
      &.main { 
        padding: 10px; 
      }
      &.details, &.stats {
        height : 80px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
      }
      &.details {
        text-align: center;
        font-size: 15px;
        i {
          font-size: 25px;
          font-weight: normal;
          margin-right: 5px;
        }
        a {
          text-decoration: none;
        }
      }
      &.stats {
        text-align: center;
        font-weight: normal;
        color : #bdb9b9;
        strong {
          font-weight: bold;
          display: block;
          font-size: 40px;
          margin: 5px 0px;
          color: $positive;
        }
      }
      &.cr {
        padding: 10px 30px;
        border : 0px;
        button i { margin-right: 10px; }
      }
    }
  }
  .sponsors {
    padding: 10px;
    img {
      width: 100%;
    }
  }
}
