// from http://codepen.io/chrisgrabinski/pen/IEgwG?editors=110

$ok-color: #5be225;
$ko-color: #ff3927;

@mixin bg-gradient($startColor, $endColor){
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $startColor), color-stop(100%, $endColor));
  background-image: -moz-linear-gradient($startColor, $endColor);
  background-image: -webkit-linear-gradient($startColor, $endColor);
  background-image: linear-gradient($startColor, $endColor);
}
@mixin bullet-before($color){
  @include bg-gradient(transparent, $color);
}
@mixin bullet-after($color){
  @include bg-gradient($color, transparent);
}

.item-timeline {
  margin-bottom: 1px;
  padding: 9px 10px 7px 50px;
  position: relative;
  border: none;
  overflow: visible;

  &:last-child .bullet::after { display: none; }
}

.item-timeline, .item-timeline-image {
  .bullet {
    display: block;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 11px;
    height: 11px;
    background-color: hsl(0,0%,65%);
    border-radius: 50%;
    color: transparent;
    font-size: 0;
    z-index: 2;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      width: 1px;
      z-index: -1;
    }
    &::before { height: 40px; top: -40px;     }
    &::after  { height: 40px; bottom: -40px;  }

    &.bullet-ok         { background-color: $ok-color;  &::before { @include bullet-before($ok-color); }  &::after { @include bullet-after($ok-color); }  }
    &.bullet-ko         { background-color: $ko-color;  &::before { @include bullet-before($ko-color); }  &::after { @include bullet-after($ko-color); }  }
    &.bullet-light      { background-color: $light;     &::before { @include bullet-before($light); }     &::after { @include bullet-after($light); }     }
    &.bullet-stable     { background-color: $stable;    &::before { @include bullet-before($stable); }    &::after { @include bullet-after($stable); }    }
    &.bullet-positive   { background-color: $positive;  &::before { @include bullet-before($positive); }  &::after { @include bullet-after($positive); }  }
    &.bullet-calm       { background-color: $calm;      &::before { @include bullet-before($calm); }      &::after { @include bullet-after($calm); }      }
    &.bullet-balanced   { background-color: $balanced;  &::before { @include bullet-before($balanced); }  &::after { @include bullet-after($balanced); }  }
    &.bullet-energized  { background-color: $energized; &::before { @include bullet-before($energized); } &::after { @include bullet-after($energized); } }
    &.bullet-assertive  { background-color: $assertive; &::before { @include bullet-before($assertive); } &::after { @include bullet-after($assertive); } }
    &.bullet-royal      { background-color: $royal;     &::before { @include bullet-before($royal); }     &::after { @include bullet-after($royal); }     }
    &.bullet-dark       { background-color: $dark;      &::before { @include bullet-before($dark); }      &::after { @include bullet-after($dark); }      }

    &.bullet-icon {
      top: 10px;
      left: 15px;
      width: 21px;
      height: 21px;
      background-size: cover;
      &::before,
      &::after {
        left: 10px;
      }
      &::before { height: 35px; top: -35px;     }
      &::after  { height: 35px; bottom: -35px;  }
    }
    &.icon-archive      { background-image: url('../img/timeline-icon/archive.png');      }
    &.icon-bell         { background-image: url('../img/timeline-icon/bell.png');         }
    &.icon-bookmark     { background-image: url('../img/timeline-icon/bookmark.png');     }
    &.icon-calendar     { background-image: url('../img/timeline-icon/calendar.png');     }
    &.icon-certificate  { background-image: url('../img/timeline-icon/certificate.png');  }
    &.icon-clock        { background-image: url('../img/timeline-icon/clock.png');        }
    &.icon-comment      { background-image: url('../img/timeline-icon/comment.png');      }
    &.icon-danger       { background-image: url('../img/timeline-icon/danger.png');       }
    &.icon-file         { background-image: url('../img/timeline-icon/file.png');         }
    &.icon-heart        { background-image: url('../img/timeline-icon/heart.png');        }
    &.icon-info         { background-image: url('../img/timeline-icon/info.png');         }
    &.icon-minus        { background-image: url('../img/timeline-icon/minus.png');        }
    &.icon-notes        { background-image: url('../img/timeline-icon/notes.png');        }
    &.icon-plane        { background-image: url('../img/timeline-icon/plane.png');        }
    &.icon-plus         { background-image: url('../img/timeline-icon/plus.png');         }
    &.icon-share        { background-image: url('../img/timeline-icon/share.png');        }
    &.icon-star         { background-image: url('../img/timeline-icon/star.png');         }
    &.icon-tag          { background-image: url('../img/timeline-icon/tag.png');          }
    &.icon-user         { background-image: url('../img/timeline-icon/user.png');         }
  }
}

.item-timeline-image {
  position: relative;
  height: 140px;
  padding: 0px;
  border: none;
  background-color: black;
  background-size: cover;
  background-position: center center;
  //background-image: url('https://pbs.twimg.com/profile_banners/141737249/1386009093/1500x500');
  &::before, &::after {
    content: '';
    display: block;
    height: 50%;
  }
  &::before { @include bg-gradient(rgba(0,0,0,.8), transparent); }
  &::after  { @include bg-gradient(transparent, rgba(0,0,0,.8)); }

  .darker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
  }
  h2, p {
    position: absolute;
    left: 50px;
    right: 5px;
  }
  h2 {
    top: 70px;
    color: white;
  }
  p {
    top: 92px;
    color: rgba(255,255,255,.8);
  }
  .bullet {
    top: 76px;
    &::before { height: 110px; top: -110px;   }
    &::after  { height: 80px; bottom: -80px;  }
    &.bullet-icon {
      top: 71px;
      &::before { height: 105px; top: -105px;   }
      &::after  { height: 75px; bottom: -75px;  }
    }
  }
}
