// from http://codepen.io/chrisgrabinski/pen/IEgwG?editors=110

$ok-color: #5be225;
$ko-color: #ff3927;

@mixin bullet-before($color){
  /*@include background-image(linear-gradient(fade-out($color,1),$color));*/
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, $color));
  background-image: -moz-linear-gradient(transparent, $color);
  background-image: -webkit-linear-gradient(transparent, $color);
  background-image: linear-gradient(transparent, $color);
}
@mixin bullet-after($color){
  /*@include background-image(linear-gradient($color, fade-out($color,1)));*/
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color), color-stop(100%, transparent));
  background-image: -moz-linear-gradient($color, transparent);
  background-image: -webkit-linear-gradient($color, transparent);
  background-image: linear-gradient($color, transparent);
}

.list-timeline {
  padding-top: 15px;
}

.item-timeline {
  margin-bottom: 1px;
  padding: 9px 10px 7px 50px;
  position: relative;
  border: none;
  overflow: visible;

  .bullet {
    display: block;
    position: absolute;
    left: 20px;
    top: 15px;
    height: 11px;
    width: 11px;
    background-color: hsl(0,0%,65%);
    border-radius: 50%;
    color: transparent;
    font-size: 0;
    z-index: 2;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      width: 1px;
      height: 40px;
      z-index: -1;
    }
    &::before { top: -40px;     }
    &::after  { bottom: -40px;  }

    &.bullet-ok         { background-color: $ok-color;  &::before { @include bullet-before($ok-color); }  &::after { @include bullet-after($ok-color); }  }
    &.bullet-ko         { background-color: $ko-color;  &::before { @include bullet-before($ko-color); }  &::after { @include bullet-after($ko-color); }  }
    &.bullet-light      { background-color: $light;     &::before { @include bullet-before($light); }     &::after { @include bullet-after($light); }     }
    &.bullet-stable     { background-color: $stable;    &::before { @include bullet-before($stable); }    &::after { @include bullet-after($stable); }    }
    &.bullet-positive   { background-color: $positive;  &::before { @include bullet-before($positive); }  &::after { @include bullet-after($positive); }  }
    &.bullet-calm       { background-color: $calm;      &::before { @include bullet-before($calm); }      &::after { @include bullet-after($calm); }      }
    &.bullet-balanced   { background-color: $balanced;  &::before { @include bullet-before($balanced); }  &::after { @include bullet-after($balanced); }  }
    &.bullet-energized  { background-color: $energized; &::before { @include bullet-before($energized); } &::after { @include bullet-after($energized); } }
    &.bullet-assertive  { background-color: $assertive; &::before { @include bullet-before($assertive); } &::after { @include bullet-after($assertive); } }
    &.bullet-royal      { background-color: $royal;     &::before { @include bullet-before($royal); }     &::after { @include bullet-after($royal); }     }
    &.bullet-dark       { background-color: $dark;      &::before { @include bullet-before($dark); }      &::after { @include bullet-after($dark); }      }

    &.bullet-icon {
      width: 21px;
      height: 21px;
      left: 15px;
      top: 10px;
      background-size: cover;
      &::before,
      &::after {
        height: 35px;
        left: 10px;
      }
      &::before { top: -35px;     }
      &::after  { bottom: -35px;  }
    }
    &.icon-archive      { background-image: url('../img/timeline-icon/archive.png');      }
    &.icon-bell         { background-image: url('../img/timeline-icon/bell.png');         }
    &.icon-bookmark     { background-image: url('../img/timeline-icon/bookmark.png');     }
    &.icon-certificate  { background-image: url('../img/timeline-icon/certificate.png');  }
    &.icon-clock        { background-image: url('../img/timeline-icon/clock.png');        }
    &.icon-comment      { background-image: url('../img/timeline-icon/comment.png');      }
    &.icon-danger       { background-image: url('../img/timeline-icon/danger.png');       }
    &.icon-file         { background-image: url('../img/timeline-icon/file.png');         }
    &.icon-heart        { background-image: url('../img/timeline-icon/heart.png');        }
    &.icon-info         { background-image: url('../img/timeline-icon/info.png');         }
    &.icon-notes        { background-image: url('../img/timeline-icon/notes.png');        }
    &.icon-plane        { background-image: url('../img/timeline-icon/plane.png');        }
    &.icon-plus         { background-image: url('../img/timeline-icon/plus.png');         }
    &.icon-share        { background-image: url('../img/timeline-icon/share.png');        }
    &.icon-star         { background-image: url('../img/timeline-icon/star.png');         }
    &.icon-tag          { background-image: url('../img/timeline-icon/tag.png');          }
    &.icon-user         { background-image: url('../img/timeline-icon/user.png');         }
  }

  &:last-child .bullet::after { display: none; }
}
