# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# config file
www/js/config/_config.js
ParseCloudCode/cloud/credentials.js
ParseCloudCode/config/global.json
my-release-key.keystore

node_modules/
platforms/
plugins/

# when use sass, do not commit css files
www/css/
www/lib/

# do not commit generated images
resources/android
resources/ios/

*.apk
*~
.idea
