<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Compte rendu</h1>
    <button class="button button-clear" ng-click="vm.cancelSubscribeReport()">Annuler</button>
  </ion-header-bar>
  <ion-content>
    <div class="padding">
      <h2>L'événement continue !</h2>
      <p>SalooN vous offre la possibilité de recevoir le bilan de <b>{{vm.event.name}}</b> en donnant simplement votre email ici :</p>
    </div>

    <div class="list">
      <div class="item item-checkbox">
        <label class="checkbox"><input type="radio" name="cr-filter" value="all" ng-model="vm.crForm.filter"></label>
        Compte rendu complet
      </div>
      <div class="item item-checkbox">
        <label class="checkbox"><input type="radio" name="cr-filter" value="favorites" ng-model="vm.crForm.filter"></label>
        Seulement les éléments en favoris
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Votre mail</span>
        <input type="email" placeholder="Votre email" ng-model="vm.crForm.email">
      </label>
    </div>
    <div class="padding">
      <button class="button button-positive button-block" ng-click="vm.subscribeReport()" ng-disabled="!vm.crForm.email">
        {{vm.isSubscribed(vm.event) ? 'Modifier' : 'Le recevoir'}}
      </button>
      <button class="button button-netagive button-block" ng-click="vm.unsubscribeReport()" ng-if="vm.isSubscribed(vm.event)">
        Me désinscrire
      </button>
    </div>

    <div class="padding">
      <p>Le bilan se présente sous la forme d’un email contenant notamment : </p>
      <div class="list">
        <div class="item item-icon-left"><i class="icon ion-checkmark-round"></i> Le bilan de votre visite ( vu / pas vu)</div>
        <div class="item item-icon-left"><i class="icon ion-compose"></i> Les notes et appréciations prises</div>
        <div class="item item-icon-left"><i class="icon ion-social-youtube-outline"></i> Les slides et vidéos des sessions</div>
      </div>
      <p class="exemple"><a href="http://saloonapp.co/exemples/cr.html">Exemple</a></p>
    </div>
  </ion-content>
</ion-modal-view>
