<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Compte rendu</h1>
    <button class="button button-clear" ng-click="vm.cancelAskCR()">Annuler</button>
  </ion-header-bar>
  <ion-content>
    <div class="padding">
      <h2>Un événement continue de vivre !</h2>
      <p>Pour cette raison, vous pouvez recevoir le compte rendu du salon <b>{{vm.event.name}}</b>.</p>
      <p>Il se présente sous la forme d’un email contenant notamment : (<a href="http://saloonapp.co/exemples/cr.html">voir un exemple complet</a>)</p>
      <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-checkmark-round"></i>
          Le bilan de votre visite ( vu / pas vu)
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-compose"></i>
          Les notes et appréciations prises
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-social-youtube-outline"></i>
          Les slides et vidéos des sessions 
        </div>
      </div>


<p>Il vous suffit de sélectionner le contenu qui vous intéresse et d’indiquer votre adresse email </p>
    </div>

    <div class="list">
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="radio" name="cr-filter" value="all" ng-model="vm.crForm.filter">
        </label>
        Compte rendu complet
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="radio" name="cr-filter" value="favorites" ng-model="vm.crForm.filter">
        </label>
        Seulement les éléments en favoris
      </div>
    </div>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Votre mail</span>
        <input type="email" placeholder="Votre mail" ng-model="vm.crForm.email">
      </label>
    </div>

    <div class="padding">
      <button class="button button-positive button-block" ng-click="vm.confirmCR()" ng-disabled="!vm.crForm.email">
        {{vm.isSubscribed(vm.event) ? 'Modifier' : 'Le recevoir'}}
      </button>
    </div>
  </ion-content>
</ion-modal-view>
