<ion-view title="Ton profil, en 2 mots...">
  <ion-content class="padding">
    <form ng-submit="fn.createAccount(data.credentials)">
      <div class="list small">
        <label class="item item-input small">
          <span class="input-label">Ton email :</span>
          <input type="email" name="email" placeholder="ex: hello@saloon.com" ng-model="data.credentials.email">
        </label>
        <label class="item item-input small">
          <span class="input-label">Un mot de passe :</span>
          <input type="password" name="password" placeholder="ex: i-love-saloon-4-ever" ng-model="data.credentials.password">
        </label>
      </div>
      <div class="list small">
        <label class="item item-input small">
          <span class="input-label">Ton nom :</span>
          <input type="text" name="pseudo" placeholder="ex: SalooN" ng-model="data.credentials.pseudo">
        </label>
        <label class="item item-input small item-stacked-label">
          <span class="input-label">Qu'est ce qui t'intéresse ?</span>
          <textarea name="actualPurpose" placeholder="ex: Discuter d'opportunités scala" rows="3" ng-model="data.credentials.actualPurpose"></textarea>
        </label>
      </div>
      <div class="list small">
        <div class="item item-divider small">Tu souhaites discuter de :</div>
        <div class="item item-checkbox" ng-repeat="interest in data.credentials.interests">
          <label class="checkbox">
            <input type="checkbox" ng-model="interest.interested">
          </label>
          {{interest.name}}
        </div>
      </div>
      <label for="agreement">
        <input type="checkbox" id="agreement" ng-model="agreement">
        Cette application est en cours de développement et a pour objectif de permettre des rencontres en direct ciblées.
        <b>Les données peuvent être effacées à n'importe quel moment !</b>
      </label>
      <div class="alert alert-danger card padding" ng-if="data.error !== null" ng-click="data.error=null;"><strong>Oups !</strong> {{data.error}}</div>
      <button type="submit" class="button button-block button-positive" ng-disabled="!agreement || !fn.canSubmit()">Et voilà !</button>
    </form>
  </ion-content>
</ion-view>
