<ion-view title="Sondages">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="fn.refresh()">
    </ion-refresher>
    <h1>Sondages</h1>

    <loading ng-show="initiated === false" top="100px"></loading>
    <div class="list" ng-if="initiated == true && polls.length === 0">Aucun sondage n'est disponible actuellement</div>
    <div class="list card" ng-repeat="poll in polls">
	  <div class="item item-avatar" >
	    <h2>{{poll.question}}</h2>

	  </div>

	  <div class="item item-body">
	  	<h3>Réponses</h3>
	  	<div class="list">
	  	 <label class="item item-radio" ng-repeat="(index,choice) in poll.choices">
		    <input type="checkbox" ng-model="choice.selected" ng-if="poll.singleChoise == false">
		    <input type="radio" name="userchoice" ng-model="choice.selected" ng-if="poll.singleChoise == true" value="selected">
		    <div class="item-content">
		      {{choice.value}} nbVote = {{fn.getValue(poll.answersStats,fn.getIndexBy$Id(poll, choice.id))}} sur {{fn.getValue(poll.answersStats,fn.getIndexBy$Id(poll, 'totalVotes'))}}
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
	    </div>
	  </div>
      {{}}
	   <button ng-click="fn.submitChoice(poll, poll.choices)"
             class="button button-block button-balanced item item-icon-left"
             ng-disabled="fn.getSelectedChoice(poll,poll.choices).length == 0">
	    <i class="ion-ios7-checkmark-outline"></i>
	    Répondre
	  </button>
      <div ng-if="poll.alreadyVoted == true">
        Vous avez déjà participé
      </div>

	</div>

    <button class="button button-block button-positive" ng-click="fn.create()">Créer un sondage</button>


  </ion-content>
</ion-view>
