<ion-view title="{{vm.elt.name}}">
  <ion-content>
    <div class="event-item-details">
    <div class="header">
        <favorite user-data="vm.userData" elt="vm.elt" class="pull-left"></favorite>
        <h1><span ng-show="vm.elt.format">[{{vm.elt.format}}] </span>{{vm.elt.name}}</h1>
      </div>
      <h3 class="assertive">{{vm.elt.start | time}}-{{vm.elt.end | time}}<span ng-show="vm.elt.place"> @{{vm.elt.place}}</span></h3>
      <div btf-markdown="vm.elt.description"></div>
    </div>

    <div class="list" ng-if="vm.elt.speakers && vm.elt.speakers.length > 0">
      <div class="item item-divider">Speakers :</div>
      <div class="item item-avatar" ng-repeat="speaker in vm.elt.speakers">
        <img ng-src="{{speaker.avatar}}">
        <h2>{{speaker.name}}</h2>
        <p class="multiline l3">{{speaker.description}}</p>
      </div>
    </div>

    <div class="list" ng-if="vm.similar && vm.similar.length > 0">
      <div class="item item-divider">A voir aussi :</div>
      <div class="item" ng-repeat="elt in vm.similar"
           ui-sref="app.event.session({sessionId: elt.uuid})">
        <h2>{{elt.name}}</h2>
        <p class="multiline l3">{{elt.description}}</p>
      </div>
    </div>

    <feedback-box user-data="vm.userData" elt="vm.elt"></feedback-box>
  </ion-content>
</ion-view>
