<ion-view title="Programme">
  <ion-content>
    <div class="list">
      <div class="item item-category item-icon-right" ng-repeat="day in vm.days | orderBy" ui-sref="app.event.sessions({day: $index})"
           ng-style="{'background-image': 'url('+vm.bgSessions[$index%vm.bgSessions.length]+')'}">
        <div class="darker"></div>
        <h2>Conférences du {{day | date:'dddd'}}</h2>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
        <i class="icon ion-arrow-right-c" style="color: #fff;"></i>
      </div>
      <div class="item item-category item-icon-right" ui-sref="app.event.exponents" ng-if="vm.event.exponents && vm.event.exponents.length > 0"
           ng-style="{'background-image': 'url('+vm.bgExponents+')'}">
        <div class="darker"></div>
        <h2>Voir les exposants</h2>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
        <i class="icon ion-arrow-right-c" style="color: #fff;"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
