<ion-view title="Ma Visite">
  <ion-content>
    <div class="list" ng-if="vm.sessions && vm.sessions.length > 0">
      <div class="item item-timeline" ng-repeat="session in vm.sessions | orderBy:'start'" ui-sref="app.event.scheduleSession({sessionId: session.uuid})">
        <h2>{{session.name}}</h2>
        <p>{{session.start | customDate}} - {{session.place | place}} ({{session.start | humanDuration:session.end}})</p>
        <i class="bullet bullet-positive"></i>
      </div>
    </div>

    <div class="list list-event-item" ng-if="vm.exponents && vm.exponents.length > 0">
      <div class="item item-divider">Exposant à aller voir :</div>
      <div class="item item-icon-right" ng-repeat="exponent in vm.exponents"
           ui-sref="app.event.scheduleExponent({exponentId: exponent.uuid})">
        <done user-data="vm.userData" elt="exponent"></done>
        <div>
          <h2>{{exponent.name}}</h2>
          <p>{{exponent.place | place}} - {{exponent.description}}</p>
        </div>
      </div>
    </div>

    <div class="padding" style="text-align: center;"
         ng-if="(!vm.sessions || vm.sessions.length === 0) && (!vm.exponents || vm.exponents.length === 0)">
      <p style="margin-top: 30px;">Vous n'avez encore rien planifié pour cet énénement...</p>
      <button class="button button-positive" style="margin-top: 30px;" ui-sref="app.event.program">Accéder au programme</button>
    </div>
  </ion-content>
</ion-view>
