<ion-view title="Ma Visite">
  <ion-content>
    <div class="list">
      <div class="item" ng-repeat="session in vm.sessions" ui-sref="app.event.scheduleSession({sessionId: session.uuid})">
        <h2>{{session.name}}</h2>
        <p>{{session.description}}</p>
      </div>
    </div>

    <div class="list">
      <div class="item" ng-repeat="exponent in vm.exponents" ui-sref="app.event.scheduleExponent({exponentId: exponent.uuid})">
        <h2>{{exponent.name}}</h2>
        <p>{{exponent.description}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
