<ion-view title="{{vm.elt.name}}">
  <ion-content>
    <div class="event-item-details">

      <div class="header">
        <favorite user-data="vm.userData" elt="vm.elt" class="pull-left"></favorite>
         <img src="{{vm.elt.landingUrl}}" ng-if="vm.elt.landingUrl != ''"/>
        <h1 ng-if="vm.elt.landingUrl == ''"><span ng-show="vm.elt.format">[{{vm.elt.format}}] </span>{{vm.elt.name}}</h1>
      </div>      
      <h3 class="assertive" ng-show="vm.elt.place">@{{vm.elt.place}}</h3>
      <div class="padding" btf-markdown="vm.elt.description"></div>
    </div>

    <div class="list" ng-if="vm.elt.team && vm.elt.team.length > 0">
      <div class="item item-divider">Equipe :</div>
      <div class="item item-avatar" ng-repeat="person in vm.elt.team">
        <img ng-src="{{person.avatar}}">
        <h2>{{person.name}}</h2>
        <p class="multiline l3">{{person.description}}</p>
      </div>
    </div>

    <feedback-box user-data="vm.userData" elt="vm.elt"></feedback-box>
  </ion-content>
</ion-view>
