<ion-view title="Ma Visite">
  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-calendar" ng-click="vm.goToSessions()" ng-if="vm.notEmpty(vm.sessions)"></button>
    <button class="button button-icon ion-briefcase" ng-click="vm.goToExponents()" ng-if="vm.notEmpty(vm.exponents)"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list sessions" ng-if="!vm.runningEvent && vm.notEmpty(vm.sessions)">
      <div class="item item-timeline" ng-repeat="session in vm.sessions" ui-sref="app.event.scheduleSession({sessionId: session.uuid})">
        <h2><span mood="vm.sessionMoods[session.uuid]"></span> {{session.name}}</h2>
        <p>{{session.start | customDate}}<span ng-if="session.place"> - {{session.place}}</span> ({{session.start | humanDuration:session.end}})</p>
        <i class="bullet bullet-positive"></i>
      </div>
    </div>

    <div class="list" ng-if="vm.runningEvent && vm.notEmpty(vm.sessions)">
      <div class="item item-timeline previousSessions" ng-click="vm.togglePreviousSessions()" ng-if="vm.notEmpty(vm.previousSessions)">
        <h2>{{vm.showPreviousSessions ? 'Masquer les sessions passées' : 'Voir les sessions passées'}}</h2>
        <i class="bullet bullet-positive bullet-icon" ng-class="{'icon-minus': vm.showPreviousSessions, 'icon-plus': !vm.showPreviousSessions}"></i>
      </div>
      <div class="item item-timeline" ng-repeat="session in vm.previousSessions" ui-sref="app.event.scheduleSession({sessionId: session.uuid})" ng-show="vm.showPreviousSessions && vm.notEmpty(vm.previousSessions)">
        <h2><span mood="vm.sessionMoods[session.uuid]"></span> {{session.name}}</h2>
        <p>{{session.start | customDate}} - {{session.place}} ({{session.start | humanDuration:session.end}})</p>
        <i class="bullet bullet-positive"></i>
      </div>
      <div class="item item-timeline" ng-click="vm.togglePreviousSessions()" ng-if="vm.showPreviousSessions && vm.notEmpty(vm.previousSessions)">
        <h2>Masquer les sessions passées</h2>
        <i class="bullet bullet-positive bullet-icon icon-minus"></i>
      </div>

      <div class="item item-timeline-image current-session" ng-style="{'background-image': 'url('+vm.bgCurrentSession+')'}"
           ui-sref="app.event.scheduleSession({sessionId: vm.currentSession.uuid})" ng-if="vm.currentSession">
        <div class="darker"></div>
        <h2><span mood="vm.sessionMoods[vm.currentSession.uuid]"></span> {{vm.currentSession.name}}</h2>
        <p>{{vm.currentSession.start | customDate}} - {{vm.currentSession.place}} ({{vm.currentSession.start | humanDuration:vm.currentSession.end}})</p>
        <i class="bullet bullet-positive"></i>
      </div>
      <div class="item item-timeline" ng-repeat="session in vm.nearSessions" ui-sref="app.event.scheduleSession({sessionId: session.uuid})">
        <h2><span mood="vm.sessionMoods[session.uuid]"></span> {{session.name}}</h2>
        <p>{{session.start | customDate}} - {{session.place}} ({{session.start | humanDuration:session.end}})</p>
        <i class="bullet bullet-positive"></i>
      </div>

      <div class="item item-timeline nextSessions" ng-click="vm.toggleFarSessions()" ng-if="vm.showFarSessions && vm.notEmpty(vm.farSessions)">
        <h2>Masquer les sessions suivantes</h2>
        <i class="bullet bullet-positive bullet-icon icon-minus"></i>
      </div>
      <div class="item item-timeline" ng-repeat="session in vm.farSessions" ui-sref="app.event.scheduleSession({sessionId: session.uuid})" ng-show="vm.showFarSessions && vm.notEmpty(vm.farSessions)">
        <h2><span mood="vm.sessionMoods[session.uuid]"></span> {{session.name}}</h2>
        <p>{{session.start | customDate}} - {{session.place}} ({{session.start | humanDuration:session.end}})</p>
        <i class="bullet bullet-positive"></i>
      </div>
      <div class="item item-timeline" ng-click="vm.toggleFarSessions()" ng-if="vm.notEmpty(vm.farSessions)">
        <h2>{{vm.showFarSessions ? 'Masquer les sessions suivantes' : 'Voir les sessions suivantes'}}</h2>
        <i class="bullet bullet-positive bullet-icon" ng-class="{'icon-minus': vm.showFarSessions, 'icon-plus': !vm.showFarSessions}"></i>
      </div>
    </div>

    <div class="list list-event-item exponents" ng-if="vm.notEmpty(vm.exponents)">
      <div class="item item-divider">Exposants à aller voir :</div>
      <div class="item item-icon-right" ng-repeat="exponent in vm.exponents"
           ui-sref="app.event.scheduleExponent({exponentId: exponent.uuid})">
        <done user-data="vm.userData" elt="exponent" click="vm.exponentDone(value, $index)"></done>
        <div>
          <h2><span mood="vm.exponentMoods[exponent.uuid]"></span> {{exponent.name}}</h2>
          <p><span ng-if="exponent.place">{{exponent.place}} - </span>{{exponent.description}}</p>
        </div>
        <div ng-class="{shown: vm.showMoodBars[$index]}"><mood-bar user-data="vm.userData" elt="exponent" click="vm.exponentMood(value, $index)"></mood-bar></div>
      </div>
    </div>

    <div class="padding" style="text-align: center;"
         ng-if="vm.isEmpty(vm.sessions) && vm.isEmpty(vm.exponents)">
      <p style="margin-top: 30px;">Vous n'avez encore rien planifié pour cet énénement...</p>
      <button class="button button-positive" style="margin-top: 30px;" ui-sref="app.event.program">Accéder au programme</button>
    </div>
    <div style="height: 400px;"></div>
  </ion-content>
</ion-view>
