<ion-view title="Sessions">
  <div class="bar bar-subheader has-tabs-top item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Rechercher ..." ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search=''">Annuler</button>
  </div>
  <ion-content class="has-subheader">
    <div class="list list-event-item">
      <div class="item item-icon-right" ng-class="{fav: vm.isFav(session)}"
           ng-repeat="session in vm.event.sessions | filter:search"
           ui-sref="app.event.session({sessionId: session.uuid})">
        <h2>{{session.title}}</h2>
        <p>{{session.summary}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
