<ion-view title="{{vm.elt.name}}">
  <ion-nav-buttons side="right">
    <favorite user-data="vm.userData" elt="vm.elt"></favorite>
  </ion-nav-buttons>
  <ion-content>
    <div class="event-item-details">
      <div class="img-container" ng-if="vm.elt.landingUrl">
        <img ng-src="{{vm.elt.landingUrl}}">
      </div>
      <div class="padding">
        <h1 ng-if="!vm.elt.landingUrl">{{vm.elt.name}}</h1>
        <h3 class="assertive" ng-if="vm.elt.place">@{{vm.elt.place}}</h3>
        <div btf-markdown="vm.elt.description"></div>
        <p ng-if="vm.elt.siteUrl"><a href="{{vm.elt.siteUrl}}" class="pull-right">{{vm.elt.siteUrl}}</a></p>
      </div>
    </div>

    <div class="list" ng-if="vm.elt.team && vm.elt.team.length > 0">
      <div class="item item-divider">Equipe :</div>
      <div class="item item-avatar" ng-repeat="person in vm.elt.team">
        <img ng-src="{{person.avatar}}">
        <h2>{{person.name}}</h2>
        <p class="multiline l3">{{person.description}}</p>
      </div>
    </div>

    <mood-box user-data="vm.userData" elt="vm.elt"></mood-box>
    <memo-box user-data="vm.userData" elt="vm.elt"></memo-box>
  </ion-content>
</ion-view>
