<ion-view title="Conférences du {{vm.day | date:'dddd'}}">
  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-clock" ng-click="vm.goToNow()" ng-if="vm.isToday()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader has-tabs-top item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Rechercher ..." ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search=''">Annuler</button>
  </div>
  <ion-content class="has-subheader" >

    <div class="list">
      <!-- no collection-repeat because of goNow() ! -->
      <div class="item item-favorite item-icon-right session-{{elt.uuid}}" ng-class="{fav: vm.isFavorite(elt)}"
           ng-repeat="elt in filtered.data = (vm.sessions | filter:search | orderBy:'start')"
           ui-sref="app.event.session({sessionId: elt.uuid})">
        <favorite user-data="vm.userData" elt="elt"></favorite>
        <h2><span mood="vm.sessionMoods[elt.uuid]"></span> {{elt.name}}</h2>
        <p class="multiline l2 fixe" btf-markdown="elt.description"></p>
        <p class="positive">
          {{elt.start | time}}-{{elt.end | time}}
          <span ng-show="elt.place"> - {{elt.place}}</span>
          <span ng-show="elt.category"> - <span class="label label-positive">{{elt.category}}</span></span>
        </p>
      </div>
    </div>
    <ion-footer keyboard-attach></ion-footer>
  </ion-content>

</ion-view>
