<ion-view title="Ma Visite 2">
  <ion-content>
    <div class="list list-timeline">
      <div class="item item-timeline" ng-repeat="session in vm.sessions | orderBy:'start'" ui-sref="app.event.scheduleSession({sessionId: session.uuid})">
        <h2>{{session.name}}</h2>
        <p>{{session.start | humanTime}} - {{session.start | humanDuration:session.end}} - {{session.place | place}}</p>
        <i class="bullet bullet-icon icon-clock" ng-class="{'bullet-assertive': $even, 'bullet-dark': $odd}"></i>
      </div>
    </div>

    <div class="list">
      <div class="item" ng-repeat="exponent in vm.exponents" ui-sref="app.event.scheduleExponent({exponentId: exponent.uuid})">
        <h2>{{exponent.name}}</h2>
        <p>{{exponent.place | place}} - {{exponent.description}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
