<ion-view title="Programme">
  <ion-content>
    <div class="list">
      <div class="item item-icon-right" ng-repeat="day in vm.days" ui-sref="app.event.sessions({day: day})">
        <h2>{{day | date}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right" ui-sref="app.event.exponents" ng-if="vm.event.exponents && vm.event.exponents.length > 0">
        <h2>Exposants</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
