<ion-view title="Exposants">
  <div class="bar bar-subheader has-tabs-top item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Rechercher ..." ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search=''">Annuler</button>
  </div>
  <ion-content class="has-subheader">
    <div class="list list-event-item">
      <div class="item item-avatar item-event" collection-repeat="row in vm.event.exponents | filter:search | orderBy:'name'" ui-sref="app.event.exponent({exponentId: row.uuid})">
        <img ng-src="{{row.logoUrl}}" ng-if="row.logoUrl != ''">
        <favorite user-data="vm.userData" elt="row"></favorite>
        <h2>{{row.name}}</h2>
        <p class="multiline l2 fixe">{{row.description}}</p>
        <p class="positive"><span ng-show="row.place"> {{row.place}}</span></p>
    </div>
    </div>
      

  </ion-content>
  <ion-footer keyboard-attach></ion-footer>
</ion-view>
