<ion-view title="Profil">
  <ion-content>
    <loading ng-show="!data.user" top="100px"></loading>
    <div class="user-profile" ng-show="data.user">
      <div class="header">
        <div class="social pull-right">
          <a href="{{data.user.linkedin.publicUrl}}" ng-if="data.user.linkedin"><img src="img/social/square/linkedin.png"></a>
        </div>
        <img class="avatar" user-avatar="data.user">
        <h2 class="title" user-name="data.user"></h2>
        <p class="profile">{{data.user.actualPurpose}}</p>
        <p class="level"><i class="fa fa-connectdevelop"></i> SalooN explorer</p>
      </div>
      <div class="actions">
        <div class="pull-right" ng-show="data.relation !== null">
          <button class="button button-small button-outline button-positive"
                  ng-show="fn.hasNoRelation(data.relation)" ng-click="fn.invite(data.user)">
            <i class="icon ion-android-add-contact"></i> Inviter
          </button>
          <button class="button button-small button-outline button-positive" disabled
                  ng-show="fn.isInitiator(data.relation, data.currentUser) && fn.isPending(data.relation)">
            <i class="icon ion-android-add-contact"></i> En attente...
          </button>
          <button class="button button-small button-outline button-assertive"
                  ng-show="!fn.isInitiator(data.relation, data.currentUser) && fn.isPending(data.relation)" ng-click="fn.declineInvite(data.relation)">
            <i class="icon ion-android-add-contact"></i> Refuser
          </button>
          <button class="button button-small button-outline button-balanced"
                  ng-show="!fn.isInitiator(data.relation, data.currentUser) && fn.isPending(data.relation)" ng-click="fn.acceptInvite(data.relation)">
            <i class="icon ion-android-add-contact"></i> Accepter
          </button>
          <button class="button button-small button-positive"
                  ng-show="fn.isAccepted(data.relation)">
            <i class="icon ion-android-contact"></i> Contact
          </button>
          <button class="button button-small button-outline button-stable"
                  ng-show="fn.isDeclined(data.relation)">
            <i class="icon ion-android-contact"></i>
            <span ng-show="fn.isInitiator(data.relation, data.currentUser)">Ce contact vous a ignoré</span>
            <span ng-show="!fn.isInitiator(data.relation, data.currentUser)">Contact ignoré</span>
          </button>
        </div>
        <div class="loader" ng-show="data.relation === null">
          <i class="icon ion-loading-c"></i>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="list card padding">
        <h4>Intéressé par :</h4>
        <ul>
          <li ng-repeat="interest in data.user.interests">- {{interest.name}}</li>
        </ul>
      </div>

      <div class="list chat" ng-show="fn.isAccepted(data.relation) && data.messages.length > 0">
        <div class="item item-divider">Messages échangés :</div>
        <div class="item item-avatar" ng-repeat="message in data.messages | orderBy:'createdAt':true">
          <img user-avatar="message.from">
          <small class="pull-right" am-time-ago="message.createdAt"></small>
          <h2 user-name="message.from"></h2>
          <p>{{message.content.text}}</p>
        </div>
      </div>
    </div>
  </ion-content>

  <form ng-submit="fn.sendMessage()" ng-if="fn.isAccepted(data.relation)">
    <ion-footer-bar class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Message" ng-model="data.message">
      </label>
      <button type="submit" class="button button-clear">Envoyer</button>
    </ion-footer-bar>
  </form>
</ion-view>