<ion-view title="Personnes proches de vous">
  <div class="bar bar-subheader has-tabs-top item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search=''">Annuler</button>
  </div>
  <ion-content class="has-subheader">
    <div ng-if="user.active && data.users.length > 0">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="fn.refresh()"></ion-refresher>
      <div class="list">
        <div class="item item-avatar" ng-repeat="user in data.users | deepFilter:search" ui-sref="app.live.user({id: user.objectId})">
          <img user-avatar="user">
          <h2 user-name="user"></h2>
          <div ng-show="!(search.length > 1)">
            <p>{{user.actualPurpose}}</p>
            <p ng-if="user.interests && user.interests.length > 0">
              <span ng-repeat="interest in user.interests"><span class="label label-positive">{{interest.name}}</span> </span>
            </p>
          </div>
          <div ng-if="search.length > 1">
            <p ng-repeat="match in user | filteredMatches:search | limitTo:5" ng-bind-html="match"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="padding" style="text-align: center;" ng-if="user.active && data.users.length === 0">
      <h3>Aucun utilisateur à proximité :(</h3>
      <br><br>
      <button class="button button-positive" ng-click="data.users=null;fn.refresh()">Actualiser</button>
    </div>
    <loading ng-show="user.active && !data.users" top="100px"></loading>
    <div class="padding" ng-if="!user.active">
      Vous devez être actif pour voir les personnes autours de vous !
    </div>
  </ion-content>
</ion-view>
