<ion-popover-view>
  <ion-content>
    <div class="list">
      <div class="item item-avatar" ui-sref="app.profile" ng-click="menuPopover.hide()">
        <img user-avatar="user">
        <h2 user-name="user"></h2>
        <p>{{user.actualPurpose}}</p>
      </div>
      <div class="item item-icon-left item-toggle">
        <i class="icon ion-eye"></i> Actif
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="user.active">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-icon-left" ng-click="logout();menuPopover.hide()"><i class="icon ion-log-out"></i> Déconnexion</div>
    </div>
  </ion-content>
</ion-popover-view>
