<ion-popover-view>
  <ion-content>
    <div class="list">
      <div class="item item-avatar" ng-click="profileModal.show();menuPopover.hide()">
        <img ng-src="{{user | avatar}}">
        <h2>{{user.pseudo}}</h2>
        <p>{{user.actualPurpose}}</p>
      </div>
      <div class="item" ui-sref="tabs.contacts" ng-click="menuPopover.hide()"><i class="icon ion-android-friends"></i> Mes contacts</div>
      <div class="item item-toggle">
        <i class="icon ion-eye"></i> Actif
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="user.active">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item" ng-click="logout();menuPopover.hide()"><i class="icon ion-log-out"></i> Déconnexion</div>
    </div>
  </ion-content>
</ion-popover-view>
