<ion-view title="{{data.activity.title}}">
  <ion-content>
    <div class="event-activity">
      <div class="pull-right fav" ng-class="{active: fn.isFav(data.activity)}" ng-click="fn.toggleFav(data.activity)">
        <i class="icon ion-android-star-outline unstarred"></i>
        <i class="icon ion-android-star starred"></i>
      </div>
      <h1>[{{data.activity.format}}] {{data.activity.title}}</h1>
      <h3 class="assertive">{{data.activity.from | time}}-{{data.activity.to | time}} @{{data.activity.room.name}}</h3>
      <div btf-markdown="data.activity.abstract"></div>
    </div>
    <div class="list" ng-if="data.activity.speakers">
      <div class="item item-divider">Speakers</div>
      <div class="item item-avatar" ng-repeat="speaker in data.activity.speakers"
           ui-sref="app.event.speaker({eventId: data.eventId, speakerId: speaker.extId})">
        <img ng-src="{{speaker.avatar}}">
        <h2>{{speaker.name}}</h2>
        <p class="multiline l3">{{speaker.bio}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
