<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Session : {{data.group.name}}</h1>
    <button class="button button-clear" ng-click="fn.validActivities()">Valider</button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-radio" ng-repeat="activity in data.activities">
        <input type="checkbox" name="group" ng-model="activity.checked">
        <div class="item-content">
          <h2 class="multiline">{{activity.title}}</h2>
          <p class="multiline l4">{{activity.abstract}}</p>
          <p>
            <span class="assertive" ng-show="activity.format">{{activity.format}}</span>
            <span ng-show="activity.room && activity.room.name">@{{activity.room.name}}</span>
            <span class="calm" ng-show="activity.speakers" ng-repeat="speaker in activity.speakers">{{speaker.name}}<span ng-if="!$last">, </span></span>
          </p>
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </ion-content>
</ion-modal-view>