<ion-view title="{{data.event.name}}">
  <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <ion-tab title="Info" ui-sref="app.event.info">
      <ion-nav-view name="info-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sessions" ui-sref="app.event.activities">
      <ion-nav-view name="activity-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Speakers" ui-sref="app.event.speakers">
      <ion-nav-view name="speaker-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mon programme" ui-sref="app.event.program">
      <ion-nav-view name="program-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
