<ion-view title="{{data.event.name}}">
  <ion-content delegate-handle="programmContent">
    <div class="button-bar">
      <button class="button" ng-class="{active: day === data.daySessions}" ng-repeat="day in data.dailySessions" ng-click="data.daySessions = day">{{day.day}}</button>
    </div>
    <div class="button-bar" ng-repeat="group in data.daySessions.slots" ng-if="$index%4 === 0">
      <button class="button button-small" ng-class="{'button-assertive': data.daySessions.slots[$index].sessions.length > 1, 'button-balanced': data.daySessions.slots[$index].sessions.length === 1}" ng-click="fn.scrollTo('p'+data.daySessions.slots[$index].from)" style="padding: 0 4px;">
        {{data.daySessions.slots[$index].from | time}}-{{data.daySessions.slots[$index].to | time}}
      </button>
      <button class="button button-small" ng-class="{'button-assertive': data.daySessions.slots[$index+1].sessions.length > 1, 'button-balanced': data.daySessions.slots[$index+1].sessions.length === 1}" ng-click="fn.scrollTo('p'+data.daySessions.slots[$index+1].from)" ng-show="data.daySessions.slots[$index+1]" style="padding: 0 4px;">
        {{data.daySessions.slots[$index+1].from | time}}-{{data.daySessions.slots[$index+1].to | time}}
      </button>
      <button class="button button-small" ng-class="{'button-assertive': data.daySessions.slots[$index+2].sessions.length > 1, 'button-balanced': data.daySessions.slots[$index+2].sessions.length === 1}" ng-click="fn.scrollTo('p'+data.daySessions.slots[$index+2].from)" ng-show="data.daySessions.slots[$index+2]" style="padding: 0 4px;">
        {{data.daySessions.slots[$index+2].from | time}}-{{data.daySessions.slots[$index+2].to | time}}
      </button>
      <button class="button button-small" ng-class="{'button-assertive': data.daySessions.slots[$index+3].sessions.length > 1, 'button-balanced': data.daySessions.slots[$index+3].sessions.length === 1}" ng-click="fn.scrollTo('p'+data.daySessions.slots[$index+3].from)" ng-show="data.daySessions.slots[$index+3]" style="padding: 0 4px;">
        {{data.daySessions.slots[$index+3].from | time}}-{{data.daySessions.slots[$index+3].to | time}}
      </button>
    </div>

    <div class="list list-session">
      <div ng-class="'p'+group.from" ng-repeat="group in data.daySessions.slots">
        <div class="item item-divider" ng-click="fn.chooseSession(group)">
          <i class="icon ion-edit pull-right" ng-show="group.sessions && group.sessions.length > 0"></i>
          {{group.name}}
        </div>
        <div class="row" style="padding: 0px;">
          <div class="col item" ng-repeat="session in group.sessions"
               ui-sref="app.event.session({eventId: data.event.objectId, sessionId: session.extId})">
            <h2 class="multiline">{{session.title}}</h2>
            <p>
              <span ng-show="session.room && session.room.name">@{{session.room.name}}</span>
            </p>
          </div>
          <div class="col" ng-show="!group.sessions || group.sessions.length === 0" style="text-align: center;">
            <button class="button button-positive" ng-click="fn.chooseSession(group)">Choisir</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
