.favorite {
  width: 32px;
  .button { font-size: 32px; color: #aaa; }
  .seted, .seted:hover      { display: none; color: $energized; }
  .unseted, .unseted:hover  {}
  .spinner, .spinner:hover      { display: none; margin-top: 10px; }
  &.active {
    .seted    { display: block; }
    .unseted  { display: none;  }
  }
  &.loading {
    .seted, .unseted  { display: none;  }
    .spinner              { display: block; }
  }
}
.bar-header .favorite {
  width: auto;
  .button { color: $light; }
  .seted, .seted:hover      { color: $energized; }
  .unseted, .unseted:hover  { }
  .spinner, .spinner:hover      { stroke: $light; margin-top: 4px; margin-right: 10px; }
}
