<ion-view title="/{{data.roomId || 'Chat'}}">
  <ion-content>
    <loading ng-if="data.room === null" top="100px"></loading>
    <div class="padding" style="text-align: center;" ng-if="data.room.messages.length === 0">
      <h3>Aucun message pour le moment...</h3>
    </div>
    <div ng-if="data.room.messages.length > 0">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="fn.refresh()"></ion-refresher>
      <div class="list chat">
        <div class="item item-avatar" ng-repeat="message in data.room.messages | orderBy:'createdAt':true">
          <img user-avatar="message.from" ui-sref="app.live.user({id: message.from.objectId})">
          <small class="pull-right" am-time-ago="message.createdAt"></small>
          <h2 user-name="message.from"></h2>
          <p>{{message.content.text}}</p>
        </div>
      </div>
    </div>
  </ion-content>

  <form ng-submit="fn.sendMessage()">
    <ion-footer-bar class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Message" ng-model="data.message" focus-on-keyboard-open>
      </label>
      <button type="submit" class="button button-clear">Envoyer</button>
    </ion-footer-bar>
  </form>
</ion-view>
