<div class="list memo-box">
  <div class="item item-divider">Notes personnelles :</div>
  <form ng-submit="vm.saveMemo()">
    <label class="item item-input item-memo" ng-class="{disabled: vm.memoSaving}">
      <textarea placeholder="Super session, j'ai adoré. Penser à tester..." rows="10" msd-elastic="\n" ng-model="vm.memoText" ng-blur="vm.saveMemo()" ng-disabled="vm.memoSaving"></textarea>
      <button class="button button-icon icon ion-paper-airplane" ng-show="vm.memoText !== (vm.memo.action.text || '')"></button>
      <ion-spinner></ion-spinner>
    </label>
  </form>
</div>
