<div class="list card memo-box">
  <div class="item item-divider">Notes personnelles :</div>
  <form ng-submit="vm.createComment(vm.elt, vm.newText)">
    <label class="item item-input item-writing" ng-class="{disabled: vm.newCommentSaving}">
      <textarea placeholder="Super session, j'ai adoré. Penser à tester..." rows="3" msd-elastic="\n" ng-model="vm.newText" ng-disabled="vm.newCommentSaving"></textarea>
      <button class="button button-icon icon ion-paper-airplane"></button>
      <ion-spinner></ion-spinner>
    </label>
  </form>
  <div class="item item-comment" ng-repeat="comment in vm.getComments(vm.elt) | orderBy:'created':true">
    <p>
      <i class="icon edit-btn" ng-class="{'ion-edit': comment !== vm.commentEdited, 'ion-close-round': comment === vm.commentEdited}"
         ng-click="vm.toggleEditComment(comment)"></i>
      <b>{{comment.updated | commentDate}}</b>
    </p>
    <p class="multiline text" ng-show="comment !== vm.commentEdited">{{comment.action.text}}</p>

    <form class="edit-form" ng-submit="vm.updateComment(comment, vm.editText)" ng-show="comment === vm.commentEdited">
      <label>
        <textarea rows="3" msd-elastic="\n" ng-model="vm.editText" ng-disabled="vm.editCommentSaving"></textarea>
      </label>
      <span class="pull-right">
        <button class="button button-small button-stable" ng-click="vm.toggleEditComment(comment)" ng-disabled="vm.editCommentSaving">Annuler</button>
        <button class="button button-small button-positive" ng-click="vm.updateComment(comment, vm.editText)"
                ng-disabled="!vm.editText || vm.editText === vm.commentEdited.action.text || vm.editCommentSaving">Enregistrer</button>
      </span>
      <button class="button button-small button-assertive" ng-click="vm.deleteComment(comment)" ng-disabled="vm.editCommentSaving">Supprimer</button>
    </form>
  </div>
</div>
