<ion-view title="Personnes">
  <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <ion-tab title="Personnes" ui-sref="app.live.users" badge="badges.users" badge-style="badge-assertive">
      <ion-nav-view name="users-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Chats" ui-sref="app.live.chats">
      <ion-nav-view name="chats-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sondages" ui-sref="app.live.polls">
      <ion-nav-view name="polls-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
